<%= form_for :session do |f| %>
  <%= f.text_field :username, :placeholder => "Username" %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= f.submit "Log in", class: "btn-submit" %>
<% end %>
