<%= render "shared/header" %>
<%= form_for @scene, url: story_scene_path(@story, @scene) do |f| %>
  <p><%= f.text_area :body, cols: "100", rows: "20"%></p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
