<%= render "shared/header" %>
<p><%= @scene.body %></p>

<h2>Comments</h2>
<% @scene.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= Account.find(comment.account_id).username %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <% if session[:user_id] == comment.account_id %>
    <%= link_to 'Destroy Comment', [comment.scene.story, comment.scene, comment], method: :delete, data: {confirm: 'Are you sure'} %>
  <% end %>
<% end %>

<h2>Add a comment:</h2>
<!--form_for @scene, url: story_scene_path(@story, @scene)-->
<%= form_for @scene.comments.build, url: story_scene_comment_index_path(@story.id, @scene.id) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
