<title>Home</title>
<head>
     <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/c\
	ss/bootstrap.min.css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.j\
	  s'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.\
	  js'></script>
   </head>
<body>
      <div class='container-fluid  bg-1'>
          <img src="http://imgc.allpostersimages.com/images/P-473-488-90/70/7022/8UUW100Z/posters/pop-ink-csa-images-octopus-wearing-crown.jpg"  height='50' width='50' >
         <font size = '6' style = 'Up:-50px'>Inklings</font>
         <nav class='navbar navbar-inverse '>
           <div class='container-fluid'>
             <ul class='nav navbar-nav'>
               <li><a href='/'>Home</a></li>
	       <li><%= link_to "Search Users", "/users" %></li>
	       <li><%= link_to "Search Stories", "/stories" %></li>
               <% if current_user %>
               <li>
		 <%= link_to "Account", user_page_path(current_user.id) %>
	       </li>
	       <li>
		 <%= link_to "Create Story", new_story_path %>
	       </li>
               <!--<li><a href='#'>Notebook</a></li>
               <li><a href='#'>Bookshelf</a></li>-->
	       <li><%= link_to "Logout", logout_path, method:"delete" %></li>
	       <% else %> 
               <li><%= link_to "Login", login_path %></li>
               <li><%= link_to "Register", register_path %></li>
              <%  end %>
	     </ul>	     
             <ul class='nav navbar-nav navbar-right'>
               <li><a href='#'>Search <span class='glyphicon glyphicon-search'></span></a></li>
             </ul>
           </div>
         </nav>
      </div>
    </body>
    
