<html>
  <title>Home</title>  
  <div class="parentDiv" style ="position: absolute; right: 0 " >
    <div class="col-sm-4 right">
      <div class="container-fluid bg-1 text-center right" >
	<p>
          <div id = wrapper>
	    <br>
            <div class="container-fluid bg-2 text-center">
              Bookshelf
            </div>
	    <table class = "table table-hover">
	      <thead>
		<tr><th>Title</th>
		</tr>
	      </thead>
	      <tbody>
		<% @bookshelf.each do |book| %>
		<% book.each do |story| %>
		<tr>
		  <td><%= link_to story.title, story_path(story) %></td>
		</tr>
		<% end %>
		<% end %>
</table>	
          </div>
          <br>
</div></div></div></html>
