<%=render "shared/header" %>
<meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<title>Home</title>
 <h1 style ="text-align:center;">CS 4540 University of Utah ReadMe</h1>
      <h2 style ="text-align:center;">By Stacey Kirby & Zella Urquhart</h2>
<br><br>
<h3>Repository Link</h3>
https://github.com/uofu-cs4540/764806.git
<br><br>
<h3>Summary</h3>
<br>
The final project is a website (make in ruby) that was created for inspiring collaboration among writers. A user may create there own account and be able to start writing or co-writing with other users. The user will be able to have their own collection of stories that they wish to be updated on when the original writer updates it (which will be called the bookshelf). Each user will also have their own notebook page which will be displaying all of the stories that they had written or are currently in the process of writing. 
<br><br>
<h3>UI Choice</h3>
<br>    
In order to allow for easy access among the website there is a navigation bar that switches when the user is logged in or when they are not logged in. We also included easy searching among stories by utilizing the a search bar that takes in different tags(which are part of genres such as romance, action, galactical traveling with a grandpa and his grandson). The logged in screen allows easy viewing of the users current favorited books (books that they are following).
<br><br>
<h3>Grading</h3>
<br>


<br><br>
<h3>Testing</h3>
In order to test the program new users were made, and had to favorite stories which were added to their bookshelf, and were made to collaborate on a story with another person. Another testing method was making new users and adding lengthy stories to them to test the viewing of the stories.
