<%= form_for @story do |f| %>
<body>
  <% if @story.errors.any? %>
    <div id="error-explanation">
      <h2>
	<%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:
      </h2>
      <ul>
	<% @story.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
      </ul>
    </div>
  <% end %>
	
  <p>
    <%= f.text_field :title, :placeholder => "Working Title" %>
  </p>
  <p>
    <%= f.text_area :concept, cols: "170", rows: "17", :placeholder => "Concept/Summary" %>
  </p>
  <p>
    <% @writers.each do |user| %>
  <% if user.id == session[:user_id] %>
    <div class="story-user me">
	<%= user.username %>
	<%= link_to 'x', [story.story_user, story_user], method: :delete, data: {confirm: 'Are you sure you wish to stop writing this story?' } %>
      </div>
      <% else %>
    <div class="story-user">
      <%= user.username %>
    </div>
    <% end %>
    <% end %>
  </p>
  
<p>
  <% @writer_requests %>
  
</p>

<p>
  <%= f.submit "Save", class: "btn-submit" %>
</p>
</body>
<% end %>

