<%= render "shared/header" %>
<% @stories.each do |story| %>
  <h2 style="display:inline-block">
    <%= story.title %>
  </h2>
    <% if current_user %>
      <%= form_for :user_story, url: role_path do |f| %>
        <%= f.hidden_field :story_id, :value => story.id %>
        <%= f.hidden_field :account_id, :value => current_user.id %>
	<%= f.hidden_field :role_id, :value => 2 %>
        <%= f.submit "Follow"%>
      <% end %>
    <% end %>
  <p><%= story.concept %></p>
<% end %>
