<%= render "shared/header" %>
<h1><%= @story.title %></h1>
<p><%= @story.concept %></p>

<h2>Scenes</h2>
<% @story.scenes.each do |scene| %>
    <p ><%= scene.body %></p>
<% end %>

<%= form_for([@story, @story.scenes.build]) do |f| %>
    <%= f.submit "Add Scene" %>
<% end %>
