<title><Home></title>

<%= form_for :accounts do |a| %>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
  <script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
</head>
<div class="container-fluid bg-grey">
  <font size = "5" class="text-center">Password</font><hr>
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
	  
          New Password:<br> <%= a.password_field :newPassword %>
        </div>
      </div >
      
      <div class="row">
        <div class="col-sm-6 form-group">
          Confirm Password:<br> <%= a.password_field :passwordConfirm %>
        </div>
      </div>
      <div class="row">
	<div class="col-sm-6 form-group">
	  Old Password:<br> <%= a.password_field :oldPassword %>
        </div>
  </div></div></div>
  <div class="container-fluid bg-grey">
    <font size = "5" class="text-center">Daily Goal</font><hr>
    <div class="row">
      <div class="col-lg-7">
	<div class="row">
          <div class="col-sm-6 form-group">
            <center>
              <%= submit_tag "100 Words",  :type => 'button' %>
              <%= submit_tag "200 Words",  :type => 'button' %>
              <%= submit_tag "300 Words",  :type => 'button' %>
	</div></div>
	
	<div class="col-sm-6 form-group">
	  Time Zone<br>
          <%= a.select :title, ['(GMT -12:00) Eniwetok, Kwajalein','(GMT -11:00) Midway Island, Samoa','(GMT -10:00) Hawaii', '(GMT -9:00) Alaska', '(GMT -8:00) Pacific Time (US & Canada)', '(GMT -7:00) Mountain Time (US & Canada)', '(GMT -6:00) Central Time (US & Canada), Mexico City', '(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima', '(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz', '(GMT -3:30) Newfoundland', '(GMT -3:00) Brazil, Buenos Aires, Georgetown', '(GMT -2:00) Mid-Atlantic', '(GMT -1:00 hour) Azores, Cape Verde Islands', '(GMT) Western Europe Time, London, Lisbon, Casablanca', '(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris', '(GMT +2:00) Kaliningrad, South Africa', 'GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg', '(GMT +3:30) Tehran','(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi', '(GMT +4:30) Kabul', '(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent', '(GMT +5:30) Bombay, Calcutta, Madras, New Delhi', '(GMT +5:45) Kathmandu', '(GMT +6:00) Almaty, Dhaka, Colombo', '(GMT +7:00) Bangkok, Hanoi, Jakarta', 'GMT +8:00) Beijing, Perth, Singapore, Hong Kong', 'GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk', '(GMT +9:30) Adelaide, Darwin', '(GMT +10:00) Eastern Australia,Guam, Vladivostok', '(GMT +11:00) Magadan, Solomon Islands, New Caledonia', '(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka' ], :selected =>'timeZone'  %>
	</div>
      </div>
    </div><br>
    <div class="container-fluid bg-grey">
      <font size = "5" class="text-center">Search Settings</font><hr>
      <div class="row">
	<div class="col-sm-7">
	  <div class="row">
            <div class="col-sm-6 form-group">
              <%= check_box_tag 'editorSelected', 'editorSelected'%> Editor
              <%= check_box_tag 'collaboratorSelected', 'collaboratorSelected'%> Collaborator
	      
	  </div></div>
	  <%=text_area(:post, :body, cols: 40, rows: 10) %><br>
	  Free Time:
	  <%= a.select :title, ['Not Busy', 'Slightly Busy', 'Busy', 'Very Busy'], :selected =>'schedule'  %> <br><br> <%= a.submit %></div>
	
      </div>
    </div>
    <br><br>
    <% end %>
