<%= render "shared/header" %>
<% @accounts.each do |account| %>
    <h2 style="display:inline-block"><%= account.username %></h2>
    <% if current_user %>
      <%= form_for :user_story, url: role_path do |f| %>
        <%= f.collection_select :story_id, @notebook.order(:title),:id,:title %>
        <%= f.hidden_field :account_id, :value => account.id %>
	<%= f.hidden_field :role_id, :value => 1 %>
	<%= f.submit "Add"%>
      <% end %>
      <br/>
    <% end %>
<% end %>
