<h1>Welcome</h1>

<%= form_for :account do |a| %>
  <p>Username: <%= a.text_field :username %></p>
  <p>Email: <%= a.text_field :email %></p>

  <%= a.label :password %>
    <%= a.password_field :password %>

  <p><%= a.submit %></p>
<% end %>
