<%= render "shared/header" %>
<%=render "shared/sidebar" %>
<body>
  <div>
    <h2>Notebook</h2>
    <table class = "table table-hover">
      <thead>
	<tr><th>Title</th>
	  <th>Concepts</th>
	</tr>
      </thead>
      <tbody >
	<% @notebook.each do |book| %>
	<% book.each do |story| %>
	<tr>
	  <td><%= story.title %></td>
	  <td><%= story.concept %><td>
	</tr>
	<% end %>
	<% end %>
      </tbody>
    </table>
  </div>
</body>
