/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

$background-color: #70C1CC
$font-color: #ffffff
$background-box-color : #B2628A
.bg-1 
      background-color: $background-color 
      color: $font-color

.bg-2
      background-color: $background-box-color 
      color: $font-color


.right
      position: absolute
      right: 0px
      width: 301px
      padding: 0px
      min-height: 900px
      bottom: 0px
      top: 0px

#parentDiv
      position: relative
      min-height: 100px

h2
      color: $background-box-color

body
      padding-left: 30px
form
      display: inline-block
